name: Build & Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
            go-version: '1.25'

      - name: Build mytool.exe
        run: |
            echo "Building version ${GITHUB_REF#refs/tags/}"
            go build -ldflags "-X main.version=${GITHUB_REF#refs/tags/}" -o mytool.exe

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
            files: mytool.exe
